body{
    background-color:#3d3d3d;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    height: 15vh;
    background-color: #5a5a5a;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
 
}
.container{
    margin: 2% 5% 2% 5%;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;

}
.container > section{
    width: 400px;
    height: 600px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.4);
}
.container h2{
    text-align: center;
}
.container input{
    background-color: rgba(255, 255, 255, 0.4);
    width: 90%;
    height: 30px;
    margin: 5%;
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;
}
.container label{
    margin: 5% 5% 5% 5%;
    font-weight: bold;
}
.container button{
 margin-left: 3%;
    background-color: #79A3B1;
    width: 45%;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
}
.container button:hover{
    
       background-color: #3c6370;
       transition: 450ms;
       cursor: pointer;
       
   }
.cuadrado{
    width: 100px; 
    height: 100px; 
    border: 3px solid #FFF;
    margin-right: 5%;
    margin-top: 5%;
}
.titulo_cua{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    margin-bottom: 5%;
}
.circulo{
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 3px solid white;
     margin-right: 5%;
    margin-top: 5%;
}
.titulo_cir{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    margin-bottom: 5%;
}
.tria__container {
    width: 100px;
    height: 100px;
    position: relative;

 }
    
.titulo_tria{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5%;
    margin-bottom: 5%;
}